{% extends 'core/base.html' %}
{% block title %}SignUp{% endblock %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
  <h1 class="mb-6 p-4 text-3xl bg-black rounded-xl text-white">Sign UP</h1>
  <form method="post" action=".">
    {% csrf_token %}
    <div class="mb-3">
      <label class="inline-block mb-2 text-orange-600 font-bold">Username</label><br>
      {{ form.username }}
    </div>
    <div class="mb-3">
      <label class="inline-block mb-2 text-orange-600 font-bold">Email</label><br>
      {{ form.email }}
    </div>
    <div class="mb-3">
      <label class="inline-block mb-2 text-orange-600 font-bold">Password</label><br>
      {{ form.password1 }}
    </div>
    <div class="mb-3">
      <label class="inline-block mb-2 text-orange-600 font-bold">Confirm Password</label><br>
      {{ form.password2 }}
    </div>
    {% if form.errors or form.non_field_errors %}
    <div class="mb-3 p-6 bg-red-100 rounded-xl">
      {% for field in form %}
      {{ field.errors}}
      {{ form.non_field_errors }}
      {% endfor %}
    </div>
    {% endif %}
    <div class="mt-4 flex justify-end">
    <button class="py-2 px-4 text-lg bg-lime-800 hover:bg-lime-200 hover:text-black rounded-xl text-white">Create Account</button>
    </div>
  </form>
</div>

{% endblock %}